@import "tailwindcss";

@plugin "daisyui" {
  themes: autumn --default;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--color-base-200);
  color: var(--color-base-content);
  font-family: Arial, Helvetica, sans-serif;
}
